name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Install libraries
        run: |
          sudo apt-get update
          sudo apt-get install -y libsodium-dev libsecp256k1-dev
      - run: cargo fmt --check
      - run: cargo build --features "state_cache" --verbose 
      - run: cargo test --features "state_cache" --lib -- --test-threads=1
