name: Publish

on:
  workflow_dispatch:
    inputs:

env:
  CARGO_TERM_COLOR: always

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Install libraries
        run: |
          sudo apt-get update
          sudo apt-get install -y libsodium-dev libsecp256k1-dev
      - uses: actions/checkout@v3
      - uses: katyo/publish-crates@v2
        with:
          registry-token: ${{ secrets.CRATES_IO_REGISTRY_TOKEN }}
